.peerlist {
    height: 250px;
    width: 170px;

    border: 2px solid #fff;
    border-radius: 5px;
    border-right: 2px dashed #CCC;

    padding: 5px;
    margin-top: 80px;
    margin-right: 95px;
    overflow-y: scroll;

    box-shadow: -0.5em 0.5em #000;
}

