.inputbox {
    width: 510px;
    height: 27px;
    background: #ccf;

    border-radius: 2px;
    border: 2px solid #fff;

    padding: 5px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 10px;
    box-shadow: -0.5em 0.5em #000;

}
