button {
    border-radius: 4px;
    height: 40px;
    width: 180px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 80px;

    box-shadow: -0.5em 0.5em #000;
}

button:hover {
    background-color: lightblue;
}
