<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The Galactic P2P Chatroom</title>

    <style>
        * { font-family:tahoma; font-size:12px; padding:0px; margin:0px; }
        p { line-height:18px; }
        div { width:500px; margin-left:auto; margin-right:auto;}
        #content { padding:5px; background:#ddd; border-radius:5px; overflow-y: scroll;
                   border:1px solid #CCC; margin-top:10px; height: 160px; }
        #input { border-radius:2px; border:1px solid #ccc;
                 margin-top:10px; padding:5px; width:400px;  }
        #status { width:88px; display:block; float:left; margin-top:15px; }
        #button { width:20px; display:block; float:right; margin-top:10px; }
        #userlist { width:100px; display:block; float:center; marigin-top:10px }
    </style>
    <script type="text/javascript" src="static/js/socket.io/socket.io.js"></script>
    <script>
        window.addEventListener('load', function () {

            // WebRTC
            var RTCSessionDescription = window.RTCSessionDescription;
            var RTCPeerConnection = window.webkitRTCPeerConnection;
            var RTCIceCandidate = window.RTCIceCandidate;

            var pcConfig = {'iceServers': [{'url': 'stun:stun.l.google.com:19302'}]};
            var pcConstraints = {'optional': [{'DtlsSrtpKeyAgreement': true}]};
            

            // DOM elements
            var input = document.getElementById('input');
            var output = document.getElementById('content');
            var state = document.getElementById('status'); 
            var userlist = document.getElementById('userlist');

            // websocket connection to signaling server
            var socket = io(document.location.host, {'session': 'data'});

            // session details
            // username is stored in sessionStorage
            var availablePeers = [];
            var mentorName = null;


            // syntactic sugar for array membership
            Array.prototype.includes = function(value){
                for (var i=0; i<=this.length; i++)
                    if (this[i] == value)
                        return true;
                return false;
            }


            /*
             * Add message to user output.
             * @param msg: string, text message to peer
             */
            function addmessage(msg) {
                output.insertAdjacentHTML('afterbegin', "<p><span>" + msg + "</span></p>");
            }

            /*
             * Add user to user list.
             * @param user: string, username of user
             */
            function adduser(user) {
                console.log("Available peers: ", availablePeers);
                if (!availablePeers.includes(user)){
                    console.log("Adding user to user list", user);
                    availablePeers.push(user);
                    userlist.add(new Option(user));
                }
            }

            /*
             * Remove user from user list.
             * @param user: string, username of user
             */
            function removeuser(user){
                for (var i=0; i <= availablePeers.length; i++)
                    if (userlist[i].text == user){
                        userlist.remove(i)
                        var index = availablePeers.indexOf(user);
                        availablePeers.splice(index, 1);
                        console.log("Available peers: ", availablePeers);
                    }
            }

            /*
             * connection/disconnection handlers
             */
            socket.on('connect', function(){
                console.log('connected to signaling server');
                input.removeAttribute('disabled');
                }).on('disconnect', function(){
                console.log('disconnected from signaling server');
                input.setAttribute('disabled', 'disabled');
            });


            /*
             * socket session handler 
             */
            socket.on('session', function(message){
                if (window.sessionStorage['token'] == undefined) {
                    var token = message.token;
                    window.sessionStorage.setItem('token', token);
                    socket.emit('session', {
                        'token': message.token
                    });
                } else {
                    // if there is a name, tell server
                    var token = window.sessionStorage['token'];
                    socket.emit('session', {
                        'token': token
                    });                   
                }                    
            });


            /*
             * handler for inital greeting message from server
             */
            socket.on('greeting', function(message){ 
                addmessage(message);
            });

            socket.on('request offer', function(request){
                console.log("Received request offer:", request.available_peers);
                var available_peers = request.available_peers;
                for (var i = 0; i <= available_peers.length; i++)
                    adduser(available_peers[i]);
 
            });

            socket.on('peer connected', function(message){
                console.log("New peer connected:", message);
                adduser(message.peer);
            });

            socket.on('peer disconnected', function(message){
                console.log("Peer disconnected:", message); 
                removeuser(message.peer);
            });
            
            window.beforeunload = function(){
                 socket.close();
            };


            input.onkeypress = function(e) {
		       if (e.keyCode == 13) {
                   var message = {};
                   message.payload = input.value;
                   console.log('Sending message', message);
                   socket.emit('message', JSON.stringify(message));
                   return false;
               }
            };
        });
    </script>
    <body>
        <div id="content"></div>
        <div>
            <span id="status">welcome</span>
            <input type="text" id="input" disabled="disabled"/>
        </div>
        <select id="userlist" size=10> </select>
    </body>
</head>
</html>

